.place__title {
    padding: 0;
    margin: 0;
    /* max-width: 100%; */
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: flex-start;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 675px) {
    .place__title {
        max-width: calc(100% - 24px*2);
        margin: 0 24px;
    }
}


@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 100%;
        margin: 0 16px;
    }
}