.photo-grid__cards {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, auto));;
    gap: 16px;
    box-sizing: border-box;
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
    .photo-grid__cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));;
        gap: 14px;
      }
  }

@media screen and (max-width: 768px) {
    .photo-grid__cards {
        grid-template-columns: repeat(auto-fit, minmax(352px, auto));;
        gap: 16px;
      }
  }

  @media screen and (max-width: 650px) {
    .photo-grid__cards {
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));;
        gap: 16px;
      }
  }

  @media screen and (max-width: 320px) {
    .photo-grid__cards {
        grid-template-columns: repeat(auto-fit, minmax(288px, auto));;
        gap: 12px;
      }
  }