.footer__link {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
    text-decoration: none;
    opacity: 1;
    transition: opacity .35s linear;
}

.footer__link:hover {
    opacity: .4;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
  }

}