.place__paragraph { 
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    text-align: start;
    color: #FFF;
    margin-bottom: 26px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 675px) {
    .place__paragraph {
        margin: 0 24px 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 16px 25px;
        max-width: 288px;
    }
}