.footer__copyright {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    align-self: flex-start;
}

@media screen and (max-width: 650px) {
    .footer__copyright {
      padding-top: 45px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer__copyright {
      padding-top: 48px;
      line-height: 14px;
    }
  }