.lead__caption {
    margin: 0;
    padding: 5px 0 0;
    color: #FFF;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 500px) {
  .lead__caption {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}