.place__url-heading {
    max-width: 100%;
    padding: 0 0 12px;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAA;
}

@media screen and (max-width: 675px) {
    .place__url-heading {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        margin: 0 16px;
    }
}